.collection-item {
    display: flex;
    justify-content: space-between;
}

.material-icons {
    cursor: pointer;
}

.nav-wrapper {
    background-color: #FAC100;
}

.brand-logo {
    color: black !important;
}